{% extends 'layout.html' %} {% block header %}
<title>itcscience | Blog </title>


  <meta name="description" content="Blog con articulos de ciencia,programacion y todo los relacionado a las ciencias informaticas" />
  <meta name="keywords" content="developers, comunidad, it, desarollo, programacion" />



  <meta property="og:title" content="Blog de la comunidad" />
  <meta property="og:description" content="Blog de ciencia y progrmacion" /> 


<link rel="stylesheet" href="/css/blog.css" />

{% endblock %}
{% block content %}

{% if posts %}

<article class="article-container">
  {% for post in posts %}
  <div class="post" id="{{post.id}}">
    <img src="{{post.image}}" alt="imagen post" />
    <div class="pst_body">
      <a href="/blog/{{post.id}}">
        <h2 class="post-title">{{post.title}}</h2>
      </a>
      <p>{{post.description}}</p>
    </div>
  </div>
  {% endfor %}
</article>



{% else %}
<div>

  <p class="no-content">no existen publicaciones en el blog</p>


</div>



{% endif %}




<script>

Array.from(document.querySelectorAll(".post")).forEach(post =>{

  post.onclick = async () => {
  post.style.viewTransitionName = 'full-embed';
};

})





</script>



{% endblock %}