{% extends 'layout.html' %} {% block header %}
<title>itcscience | Blog </title>


  <meta name="description" content="Blog con articulos de ciencia,programacion y todo los relacionado a las ciencias informaticas" />
  <meta name="keywords" content="developers, comunidad, it, desarollo, programacion" />



  <meta property="og:title" content="Blog de la comunidad" />
  <meta property="og:description" content="Blog de ciencia y progrmacion" /> 


<link rel="stylesheet" href="/css/blog.css" />

{% endblock %}
{% block content %}

{% if posts %}
<article class="article-container">
  {% for post in posts %}
  <article class="post" id="{{post.id}}">
    <a href="/blog/{{post.id}}">
    <img src="{{post.image}}" alt="imagen post" />
    </a>
    <div class="post_body">
        <h2 class="post-title">
          <a ref="blog/{{post.id}}" >{{post.title}}</a>

        </h2>
      <p>{{post.description}}</p>
    </div>
  
  </article>
  {% endfor %}


</article>



{% else %}
<div>

  <p class="no-content">no existen publicaciones en el blog</p>


</div>



{% endif %}




<script>

Array.from(document.querySelectorAll(".post")).forEach(post =>{

  post.onclick = async () => {
  post.style.viewTransitionName = 'full-embed';
};

})





</script>



{% endblock %}