{% extends 'layout.html' %} {% block header %}

<title>itcscience | Comunidad</title>


  <meta name="description" content="Grupos de la comunidad" />
  <meta name="keywords" content="developers, comunidad, it, desarollo, programacion" />



  <meta property="og:title" content="Comunidad" />
  <meta property="og:description" content="Grupos de la comunidad" /> 
<link rel="stylesheet" href="/min/css/community.css" />

{% endblock %}
{% block content %}

<section class="container">
    <h1>Únete a nuestra comunidad</h1>
    <div class="card">
        {% for link in groups %}
        <a class="card-body" href="{{link.link}}" _target="blank">
            <img src="{{link.image}}" alt="" />
            <p class="card-title">{{link.name}}</p>
        </a>
        {% endfor %}
    </div>
</section>






{% endblock %}