{% extends 'layout.html' %} {% block header %}

<title>itcscience | Comunidad</title>


<meta name="description" content="Grupos de la comunidad" />

  <meta property="og:title" content="Comunidad" />
  <meta property="og:description" content="Grupos de la comunidad" /> 
    <meta property="og:url" content="https://itcscience.org/comunidad" />
    <meta property="og:type" content="website" />
    <meta property="og:image" itemprop="image" content="https://itcscience.org/images/logo.webp" />
    <meta property="og:updated_time" content="1440432930" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="itcscience.org" />
    <meta property="twitter:url" content="https://itcscience.org/comunidad" />
    <meta name="twitter:title" content="Comunidad" />
    <meta name="twitter:description" content="Grupos de la comunidad" />
    <meta name="twitter:image" content="https://itcscience.org/images/logo.webp" />
    <meta name="twitter:site" content="@itcscience_org" />
<link rel="stylesheet" href="/min/css/community.css" />

{% endblock %}
{% block content %}

<section class="container">
    <h1>Únete a nuestra comunidad</h1>
    <div class="card">
        {% for link in groups %}
        <a class="card-body" href="{{link.link}}" _target="blank">
            <img src="{{link.image}}" alt="" />
            <p class="card-title">{{link.name}}</p>
        </a>
        {% endfor %}
    </div>
</section>






{% endblock %}