<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <title>Uh oh! | Newsletter Signup</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Uh oh !</h1>
        <p class="lead">Oops, an unknown problem occured. Please try again later.</p>
        <hr class="my-4">
        <p>For more queries feel free to reach us at <b>ishandeveloper.com</b></p>
        <form action="/failure" method="POST">
            <button class="btn btn-secondary btn-lg" type="submit">
                Try Again
            </button>
        </form>
      </div>
</body>
</html>