{% extends 'layout.html' %}
{% block header %}
<title>itcscience - Comunidad de Ciencias Computacionales y tecnología</title>



<meta name="description"
  content="itcscience es una comunidad dedicada a las ciencias de la computación.puedes encontrar recursos, debates y noticias. Únete a nosotros para aprender" />

<meta property="og:title" content="itcscience - Comunidad de Ciencias Computacionales y tecnología" />
<meta property="og:description"
  content="itcscience es una comunidad dedicada a las ciencias de la computación.puedes encontrar recursos, debates y noticias. Únete a nosotros para aprender" />
  <meta property="og:url" content="https://itcscience.org/" />
  <meta property="og:type" content="website" />

  <meta
  property="og:image"
  itemprop="image"
  content="https://itcscience.org/images/logo.webp"
/>
<meta property="og:updated_time" content="1440432930" />





<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="itcscience.org" />
<meta property="twitter:url" content="https://itcscience.org/" />
<meta name="twitter:title" content="itcscience - Comunidad de Ciencias Computacionales y tecnología" />
<meta
  name="twitter:description"
  content="itcscience es una comunidad dedicada a las ciencias de la computación.puedes encontrar recursos, debates y noticias. Únete a nosotros para aprender"
/>
<meta name="twitter:image" content="https://itcscience.org/images/logo.webp" />
<meta name="twitter:site" content="@itcscience_org" />


<link rel="stylesheet" href="/min/css/inicio.css" />

{% endblock %}
{% block content %}

<div class="index">


  <section class="main_index">

    <picture class="wrapper-img">
      <img class="img-1" src="/images/logo1-icon.svg" alt="logo itcscience">
    </picture>

    <blockquote class="quote">
      <q>El mayor enemigo del conocimiento no es la ignorancia, sino la ilusión del conocimiento</q>
      <cite>- Stephen Hawking</cite>
    </blockquote>


    <a href="#info"><button class="btn-more">Saber mas

        <img class="btn-img" src="/images/down-arrow.svg" alt="">

      </button>
    </a>

  </section>


  <section id="info" class="info">


    <img class="img-2" src="/images/circuito.svg" alt="">

    <article class="info_text">

      <span>Acerca de</span>
      <h3>Que es ITCScience?</h3>
      <p>La Comunidad ITCScience es una comunidad de ciencia y tecnología, creada con la finalidad de difundir las
        Ciencias Computacionales e Informática en general.
      </p>
    </article>





  </section>


  <section class="groups">

    <div class="groups_info">
      <span>Comunidad</span>
      <h3>Nuestros <span>Grupos</span> </h3>

      <p>Tenemos diversos grupos con temáticas en especifico para colaborar,aportar,aplicar,aprender y debatir entre los
        miembros de la comunidad
      </p>
    </div>



    <div class="groups_container">


      <article class="group_what">
        <div class="circle"></div>
        <img src="/images/cien.webp" loading="lazy" alt="grupo ciencias Computacionales">
        <div>
          <h4>ciencias Computacionales</h4>
          <p>Este grupo se centra en las Ciencias Computacionales,donde se Realizan diversas aclaraciones y debates
            donde se comparte el conocimiento del area </p>
          <a href="https://chat.whatsapp.com/FTSALNW5qCwK2Yjlszi1Pq">ingresar al grupo<img class="img_wh"
              src="/images/enter-outline.svg" alt="icono de entrada"></a>
        </div>
      </article>

      <article class="group_what">
        <div class="circle"></div>
        <img src="/images/pog.webp" loading="lazy" alt="programadores">
        <div>
          <h4>Programadores</h4>
          <p>Este grupo se basa en tema mas general en el area informática,donde se ayudan a resolver problemas de
            código y se resulten dudas mas simples</p>
          <a href="https://chat.whatsapp.com/Gqcit7OCPiiIoZp93wjNjF">ingresar al grupo<img class="img_wh"
              src="/images/enter-outline.svg" alt="icono de entrada"></a>
        </div>
      </article>



      <article class="group_what">
        <div class="circle"></div>
        <img src="/images/recur.webp" loading="lazy" alt="Recursos Informática">
        <div>
          <h4>Recursos Informática</h4>
          <p>Grupo destinado a compartir recursos de informática,donde ademas se permite también recursos de matemáticas
            y electronica </p>
          <a href="https://chat.whatsapp.com/ER1SMqM6GmZKGBIWD7JUEs">ingresar al grupo <img class="img_wh"
              src="/images/enter-outline.svg" alt="logo WhatsApp"></a>
        </div>
      </article>







      <article class="group_what">
        <div class="circle"></div>
        <img src="/images/itcs.jpeg" loading="lazy" alt="comunidad">
        <div>
          <h4>ITCScience</h4>
          <p>grupo de avisos y difusión de la comunidad</p>
          <a href="https://chat.whatsapp.com/EtQk9oMhecp1aFt3akPaOA">Ingresar al grupo <img class="img_wh"
              src="/images/enter-outline.svg" alt="icono de entrada"></a>
        </div>
      </article>




    </div>






  </section>







</div>




{% endblock %}