{% extends 'layout.html' %} 
{% block header %}
<link rel="stylesheet" href="/css/inicio.css" />

{% endblock %} 
{% block content %}

<div class="index">


  <div class="main_index">

    
     <img  class="img-1" src="/images/logo1-icon.svg" alt="">
    
  
    
    
    
    <blockquote class="quote">
     <q>El mayor enemigo del conocimiento no es la ignoracia,sino la ilusion del conocimiento</q>
    <footer>-Stephen Hawking</footer>
    </blockquote>
    
    
    <button class="btn-more">Saber mas 

<img class="btn-img" src="/images/down-arrow.svg" alt="">

    </button>
    
    
    </div>
    
    
    <div class="info">
    
    
    <img  class="img-2" src="/images/circuito.svg" alt="">
    
    <div class="info_text">

      <span>Acerca de</span>
      <h3>Que es ITCScience?</h3>
      <p>ITCScience es una comunida Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus incidunt voluptas deserunt exercitationem quod quasi non aut quidem in deleniti ab 
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae aliquam molestiae quam enim perspiciatis ad non quia dolorum nemo, est unde voluptate sequi eligendi ut totam nesciunt tenetur voluptates nulla.
      </p>
      </div>
    
    
    
    
    
    </div>
    
    
    <div class="groups">
    
    
    
    </div>
    






</div>




{% endblock %}
