<!DOCTYPE html>
<html lang="es">

<head>
  <title>Comunidad IT</title>
  <meta name="description" content="Encuentra la mejor comunidad de CS y tecnologia" />
  <meta name="keywords" content="developers, comunidad, it, desarollo, programacion" />
  <meta property="og:title" content="Comunidad IT | Landing Page" />
  <meta property="og:description" content="Encuentra la mejor comunidad de CS y tecnologia" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/normalizer.css" />
  <link rel="stylesheet" href="/css/layout.css" />

  {% block header %} {% endblock %}
</head>

<body>
  <header class="header">
    <nav class="nav">
      <div class="logo"><img src="/images/logo.webp" alt="" /></div>
      <ul class="nav-menu-complete">
        <li class="nav_element"><a href="/">INICIO</a></li>
        <li class="nav_element"><a href="/blog">BLOG</a></li>
        <li class="nav_element"><a href="/">NEWSLETTER</a></li>
        <li class="nav_element"><a href="/community">COMUNIDAD</a></li>
        <li class="nav_element"><a href="/">CONTACTO</a></li>
      </ul>

      <div class="btn not-active" id="btn-ham">
        <span class="span"></span>
        <span class="span"></span>
        <span class="span"></span>
      </div>
    </nav>
  </header>

  <main class="main">{% block content %}{% endblock %}</main>

  <footer class="footer">
    <p>ITCScience 2022 &copy;</p>
  </footer>

  <script src="/js/layout.js"></script>
</body>

</html>