{% extends 'layout.html' %} 

{% block header %}
<link rel="stylesheet" data-name="vs/editor/editor.main" href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.47.0/min/vs/editor/editor.main.min.css">
{% endblock %}


{% block content %}

<style>


.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#visualizer{
    width: 100%;
    height: 100%;
    background-color: white;

}

.tabs-list{
    display: flex;
    justify-content:start;
    list-style: none;
    padding: 0;
    margin: 0;
}

.tabs-list li{
    cursor: pointer;
    padding: 10px;
    background-color: #3b3a3a;
}

.tabs-list li:hover{
    background-color: #4b4a4a;
}

.tabs-list li.active{
    background-color: #4b4a4a;
}


#console{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 245px;
    background-color: #3b3a3a;
    color: white;
    overflow-y: scroll;

}

#console li{
    padding: 10px;
    border-bottom: 1px solid #4b4a4a;
}

#console li.error{
    background-color: rgba(174, 48, 48, 0.772);
}


#console::-webkit-scrollbar {
  width: 12px;              
}


#console::-webkit-scrollbar-track {
  background: rgb(48, 48, 48);        /* color of the tracking area */
}


#console::-webkit-scrollbar-thumb {
  background-color: rgb(113, 113, 113);    /* color of the scroll thumb */
}

</style>


<main class="container">

<section>

<ul class="tabs-list">
    <li class="active" data-set="html">HTML</li>
    <li data-set="css">CSS</li>
    <li data-set="js">JS</li>
</ul>

<pre style="height: 500px;" id="editor-html">

</pre>


<pre style="height: 500px;" id="editor-css">

</pre>

<pre style="height: 500px;" id="editor-js">
</pre>

</section>

<div>
    <iframe   id="visualizer"></iframe>

</div>

<section>
    <ul id="console">
    </ul>
</section>


</main>










<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.47.0/min/vs/loader.min.js"></script>
<script src="/js/playground.js"></script>

{% endblock %}
