{% extends 'layout.html' %} 
{%block header %}
<title>itcscience | {{title}}</title>
<meta name="description" content="{{description}}" />
<meta name="keywords" content="developers, comunidad, it, desarollo, programacion" />
<meta property="og:title" content="{{title}}" />


<meta property="og:description" content="{{description}}" /> 



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/atom-one-dark-reasonable.min.css">
<link rel="stylesheet" href="/min/css/article.css">

{% endblock %}



{% block content %}
<div class="article" style="view-transition-name:full-embed">

{%autoescape%} {{ text }} {%endautoescape%}

</div>

<script type="module">
    // console.log("xd")
import hljs from 'https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/es/highlight.min.js';
hljs.highlightAll()



</script>

{% endblock %}