<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <title>Success! | Newsletter Signup</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Success !</h1>
        <p class="lead">You have now successfully subscirbed to our annual newsletter. Sit back and relax, as we'll send you the upcoming newsletter as soon as it's available ;)</p>
        <hr class="my-4">
        <p>For more queries feel free to reach us at <b>ishandeveloper.com</b></p>
        <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Go To Homepage</a> -->
      </div>
</body>
</html>