/* underline page */
.nav_element:nth-child(2) a {
  text-decoration: underline;
  color: white;
}

.article-container {

  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  gap: 20px;
  max-width: 1000vw;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
}




.post {
  max-width: 460px;
  align-items: center;
  display: flex;
  gap: 4px;
  margin: 7px;
}

.post img {
  width: 50%;
  height: 100%;
  border-radius: 8px;
  border: 5px solid #3d393b;
}


a {
  text-decoration: none;

}

.pst_body a>h2 {
  margin: 5px;
  width: 95%;
  font-size: 24px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.pst_body a>h2:hover {
  color: rgb(92, 92, 92);
}

.pst_body>p {
  font-size: 17px;
  color: white;
  margin: 5px;

  overflow: hidden;
  width: 95%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;

}

